@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* common css start */
:root {
    --black: #000000;
    --parp:  #483AA0;
    --blue:#1848a0;
    --bgg: #E8F9FF;
    --pop: "Poppins", sans-serif;
    --rob: "Roboto", sans-serif;
}

body {
    font-family: var(--pop);
    font-size: 16px;
    font-weight: 400;
    padding-top: 123px;
    color: var(--black);
}
/* common css end */

/* header start */
header {
    padding: 15px 0;
    background-color: var(--bgg);
}
/* .cnav{} */
/* .logo{} */
/* .menu{} */
.menu ul li a {
    padding: 0 20px !important;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
}
.menu ul li a:hover {
    color: var(--parp);

}
.c_btn {
    background-color: var(--blue);
    border-radius: 33px;
    border: none;
    font-family: var(--rob);
    color: #ffffff;
}
.s_btn {
    margin-left: 10px;
    padding: 12px 28px;
}
.c_btn:hover {
    background-color: var(--parp);
    color: #F0FFF0;
    box-shadow: 0px 35px 90px -25px  #483AA0;
}
.c_btn:active {
    background-color: var(--parp) !important;
    color: #F0FFF0 !important;
}
.modal-backdrop.show {
    opacity: var(--bs-backdrop-opacity);
}
/* header end */

/* banner start */
.banner {
    background-color: var(--bgg);
    padding-bottom: 65px;
}
/* .b_text{} */
.p1 {
    color: var(--parp);
}
.h1 {
    margin: 10px 100px 20px 0;
    font-weight: 700;
    font-size: 48px;
    color: var(--black);
    line-height: 70px;
}
.h1 span {
    color: var(--blue);
}
.p2 {
    line-height: 36px;
}
.b_link {
    margin-top: 15px;
    padding: 12px 30px;
}
/* .b_img{} */
/* .b_img img{} */
/* banner end */

/* feature start */
/* .feature{} */
.c_p {
    padding-bottom: 100px;
}
.f_item {
    margin-top: 40px;
    background-color: var(--bgg);
    padding: 55px 0 50px;
    border-radius: 10px;
    transition: .33s linear;
}
.f_img {
    width: 75px;
    height: 85px;
}
.f_h2 {
    margin: 20px 0 0;
    font-weight: 500;
    font-size: 24px;
}
/* .f_p {} */
.f_item:hover {
    background-color: #ffff;
   box-shadow: 0px 35px 90px -25px #1264ab;
}
/* feature end */

/* course start */
/* .course{} */
/* .c_title{} */
.c_h1 {
    font-weight: 700;
    font-size: 36px;
}
.co_item {
    margin: 60px 0 0;
    padding: 25px 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 10px 40px 0px #0000001A;
}

/* .co_img{} */
.co_img img {
    border-radius: 11px;
}
.co_h2 {
    margin: 20px 0 5px;
    font-weight: 500;
    font-size: 24px;
    color: var(--black);
}
/* .co_p{} */
.co_link {
    margin: 20px 0 35px;
    padding: 8px 28px;
}
.coli:not(:last-child) {
    margin-right: 6px;
}
/* .co_span{} */
/* course end */

/* testimony start */
.t_item {
    margin-top: 60px;
}
.t_img {
    width: 100%;
}
/* .t_img img {} */
/* .t_text{} */
/* .t_text p {} */
/* testimony end */

/* footer top start */
.footer_top {
    padding: 55px 0 55px;
    background-color: #282531;
}

.ft_details {
    padding-right: 120px;
}
.ft_details p {
    color: #ffff;
    line-height: 30px;
}

/* .ft_links{} */
.ft_links h2 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    line-height: 30px;
}
.ft_links ul li a {
    margin-bottom: 8px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}
.ft_links ul li a:hover {
    color: #1264ab;
    text-decoration: underline;
}
footer {
    padding: 20px 0 30px;
    background-color: #282531;
}
footer p {
    color: #ffffff;
    line-height: 30px;
}
footer p a {
    color: #ffffff;
}
/* footer top end */
